.container {
  max-width: 800px;
}

// Styles for phone
@media (max-width: 599px) {
  .header .title { font-size: 4rem; }
  .header .title p { font-size: 1.5rem; }
  .info-container { font-size: 2rem;}
  .metrics { font-size: 1.2rem; }
  #overlay_text h1 { font-size: 7rem; }
  #overlay_text h4 { font-size: 2.5rem; }
  .results #judgment { font-size: 3.5rem; }
  // .results h4 { margin-bottom 1.5rem; }
}

// Stlyes for desktop
@media (min-width: 600px) {
  .header .title { font-size: 5.5rem; }
  .header .title p { font-size: 2.5rem; }
  .info-container {font-size: 2.5rem;}
  .metrics { font-size: 1.7rem; }
  #overlay_text h1 { font-size: 12rem; }
  #overlay_text h4 { font-size: 4rem; }
  .results #judgment { font-size: 4rem; }
}

body {
  background: #f9f7f3;
}

a {
  color: #15a5d2;
}

.container { display: none; }

.header {
  margin-top: 5rem;

}
.header .title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

.header .title p {
  margin: 1.3rem 0 1rem 0;
  color: #9c9da2;
  letter-spacing: .25rem;
}

.links {
  margin-top: 3rem;
  margin-bottom: 4rem;
  text-align: center;
}

.link {
  margin-bottom: 2rem;
}

.game-container {
  margin-top: 5rem;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  padding: 0 5rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
}

.info-container {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #E2DFD9;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  /*overflow: auto; /* Needed so table margins don't collapse */
}

.prompt-box {
  margin: 0;
  width: 100%;
}

.prompt-row {
  height: 20rem;
}

.prompt-row td {
  padding: 1rem 14% 0;
}

.prompt {
  font-style: italic;
}

.metrics td {
  padding: 1rem 2rem;
}

.results {
  font-style: normal;
  display: none;
}

.results h4 {
  margin-bottom: 0;
}

.results #judgment {
  font-style: italic;
  line-height: 4.5rem;
  margin-top: 1.1rem;
  margin-bottom: 2rem;
}

.results h4, .results #judgment, .social-buttons {
  opacity: 0;
}

.response-feedback {
  display: inline-block;
  text-align: center;
}

.response-feedback #message {
  display: none;
}

.response, .reset {
  width: 14rem;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#overlay_text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#overlay_text h4 {
  font-style: italic;
}

.incorrect {
  background-color: rgba(179, 39, 39, 0.9);
}

.correct {
  background-color: rgba(39, 179, 83, 0.9);
}

.interaction-container {
  margin-top: 1.5rem;
  text-align: center;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clear-floats {
  clear: both;
}

.reset-button {
  display: none;
}

/*Manage*/

thead tr {
  font-weight: bold;
}

table.skeleton td:first {
  width: 250px;
}

.new-card label {
  display: inline-block;
}

/* What Is This */
.definition {
  font-family: Playfair Display;
  margin-top: 6rem;
  margin-bottom: 4rem;
  font-size: 1.9rem;
}
.definition p {
  margin: 0;
}
.strong {
  font-weight: bold;
}
.italics {
  font-style: italic;
}
p.indented {
  margin-left: 4rem;
  margin-top: 2rem;
}
.content {
  margin-bottom: 4rem;
}


/* Social buttons */

.social-buttons a {
  display: inline-block;
  width: 3.8rem;
  padding: .6rem;
  font-size: 2rem;
  line-height: initial;
}
.btn.btn-facebook {
  border-radius: 4px;
  color: #FFFFFF;
  background: #3B5998;
}

.btn.btn-twitter {
  border-radius: 4px;
  color: #FFFFFF;
  background: #4099FF;
  margin: 0 1rem;
}

.btn.btn-google-plus {
  border-radius: 4px;
  color: #FFFFFF;
  background: #D34836;
}
